In [ ]:
import pandas as pd
import numpy as np
import sys

# retrieving utils from parent directory
sys.path.append('..')
from utils.utils import *  # Import all functions from utils.utils

#### Loading the dataset
---

In [ ]:
csv_path = '../data/hospital_interoperability_data.csv'

df = pd.read_csv(csv_path)

#### Initial Exploratory Data Analysis (EDA)
---

In [ ]:
from utils.utils import basic_eda
# Perform basic EDA
basic_eda(df)

First 5 rows:
   Facility ID                    Facility Name                     Address  \
0        10001  SOUTHEAST HEALTH MEDICAL CENTER      1108 ROSS CLARK CIRCLE
1        10005         MARSHALL MEDICAL CENTERS  2505 U S HIGHWAY 431 NORTH
2        10006     NORTH ALABAMA MEDICAL CENTER         1701 VETERANS DRIVE
3        10007         MIZELL MEMORIAL HOSPITAL               702 N MAIN ST
4        10008      CRENSHAW COMMUNITY HOSPITAL         101 HOSPITAL CIRCLE

  City/Town State  ZIP Code County/Parish Telephone Number         CEHRT ID  \
0    DOTHAN    AL     36301       HOUSTON   (334) 793-8701  0015CAN28DKT47C
1      BOAZ    AL     35957      MARSHALL   (256) 593-8310  0015C0HAX4ESQ0D
2  FLORENCE    AL     35630    LAUDERDALE   (256) 768-8400  0015CW76TRC3SVN
3       OPP    AL     36467     COVINGTON   (334) 493-3541  0015CFG3Q10HY2V
4   LUVERNE    AL     36049      CRENSHAW   (334) 335-3374  0015CFG3Q10HY2V

  Meets criteria for promoting interoperability of EHRs Start Date    End Date
0                                                  Y      1/1/2023  12/31/2023
1                                                  Y      1/1/2023  12/31/2023
2                                                  Y      1/1/2023  12/31/2023
3                                                  Y      1/1/2023  12/31/2023
4                                                  Y      1/1/2023  12/31/2023

Last 5 rows:
      Facility ID                           Facility Name  \
4588       670322          LEGENT SURGICAL HOSPITAL PLANO
4589       670326        BRUSHY CREEK FAMILY HOSPITAL LLC
4590       670327  EXCEPTIONAL COMMUNITY HOSPITAL LUBBOCK
4591       671300          GRAHAM REGIONAL MEDICAL CENTER
4592       671301                HEMPHILL COUNTY HOSPITAL

                   Address   City/Town State  ZIP Code County/Parish  \
4588  4100 MAPLESHADE LANE       PLANO    TX     75075        COLLIN
4589     230 DEER RIDGE DR  ROUND ROCK    TX     78681    WILLIAMSON
4590         6401 SPUR 327     LUBBOCK    TX     79424       LUBBOCK
4591  1301 MONTGOMERY ROAD      GRAHAM    TX     76450         YOUNG
4592         1020 S 4TH ST    CANADIAN    TX     79014      HEMPHILL

     Telephone Number         CEHRT ID  \
4588   (972) 265-1050              NaN
4589   (512) 766-1400              NaN
4590   (469) 341-7800              NaN
4591   (940) 549-3400  0015C2XBM59VCV5
4592   (806) 323-6622  0015CTY5P3PK4EQ

     Meets criteria for promoting interoperability of EHRs Start Date  \
4588                                                NaN      1/1/2023
4589                                                NaN      1/1/2023
4590                                                NaN      1/1/2023
4591                                                NaN      1/1/2023
4592                                                NaN      1/1/2023

        End Date
4588  12/31/2023
4589  12/31/2023
4590  12/31/2023
4591  12/31/2023
4592  12/31/2023

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4593 entries, 0 to 4592
Data columns (total 12 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Facility ID                                            4593 non-null   int64
 1   Facility Name                                          4593 non-null   object
 2   Address                                                4593 non-null   object
 3   City/Town                                              4593 non-null   object
 4   State                                                  4593 non-null   object
 5   ZIP Code                                               4593 non-null   int64
 6   County/Parish                                          4593 non-null   object
 7   Telephone Number                                       4593 non-null   object
 8   CEHRT ID                                               4046 non-null   object
 9   Meets criteria for promoting interoperability of EHRs  3866 non-null   object
 10  Start Date                                             4593 non-null   object
 11  End Date                                               4593 non-null   object
dtypes: int64(2), object(10)
memory usage: 430.7+ KB

Descriptive Statistics:
         Facility ID      ZIP Code
count    4593.000000   4593.000000
mean   267573.402351  54239.873939
std    158634.709389  26924.420946
min     10001.000000    603.000000
25%    140145.000000  33143.000000
50%    260005.000000  55805.000000
75%    390258.000000  76208.000000
max    671301.000000  99929.000000

#### Cleaning the data
---

In [ ]:
#standardize the column names
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('-', '_')
df.columns = df.columns.str.replace('/', '_')
print("Standardized column names:", df.columns.tolist())

Standardized column names: ['facility_id', 'facility_name', 'address', 'city_town', 'state', 'zip_code', 'county_parish', 'telephone_number', 'cehrt_id', 'meets_criteria_for_promoting_interoperability_of_ehrs', 'start_date', 'end_date']

In [ ]:
# drop columns that are not needed
columns_to_drop = ['facility_name','telephone_number', 'county_parish', 'address', 'city_town', 'state', 'zip_code',]
df.drop(columns=columns_to_drop, inplace=True, errors='ignore')
print("Remaining columns after dropping:", df.columns.tolist())

Remaining columns after dropping: ['facility_id', 'cehrt_id', 'meets_criteria_for_promoting_interoperability_of_ehrs', 'start_date', 'end_date']

In [ ]:
#convert dtype for 'facility_id' to string
# This is necessary to ensure that the merge with hospital_general_info works correctly
df['facility_id'] = df['facility_id'].astype(str)

#convert dtype for 'meets_criteria_for_promoting_interoperability_of_ehrs' string forcing blank values to NaN
df['meets_criteria_for_promoting_interoperability_of_ehrs'] = df['meets_criteria_for_promoting_interoperability_of_ehrs'].replace('', np.nan)

print(df.head(20))
print("NaN values in each column:")
print(df.isnull().sum())

   facility_id         cehrt_id  \
0        10001  0015CAN28DKT47C
1        10005  0015C0HAX4ESQ0D
2        10006  0015CW76TRC3SVN
3        10007  0015CFG3Q10HY2V
4        10008  0015CFG3Q10HY2V
5        10011  0015C5LFV335W0K
6        10012  0015C8CHE73ABS5
7        10016  0015CEN2HB2EXA1
8        10018  0015CN0ZLY04L17
9        10019              NaN
10       10021  0015CFG3Q10HY2V
11       10022  0015CJ4T57TWR1R
12       10023  0015CEZ6FY4WR6V
13       10024  0015CG91R3XQ5T3
14       10029  0015C1HRS47CWV4
15       10033  0015CA3TZV3LRM4
16       10034  0015CFG3Q10HY2V
17       10035  0015CFG3Q10HY2V
18       10036  0015CC4NC7PMU4W
19       10039  0015CV1DWP8EW15

   meets_criteria_for_promoting_interoperability_of_ehrs start_date  \
0                                                   Y      1/1/2023
1                                                   Y      1/1/2023
2                                                   Y      1/1/2023
3                                                   Y      1/1/2023
4                                                   Y      1/1/2023
5                                                   Y      1/1/2023
6                                                   Y      1/1/2023
7                                                   Y      1/1/2023
8                                                   Y      1/1/2023
9                                                 NaN      1/1/2023
10                                                  Y      1/1/2023
11                                                  Y      1/1/2023
12                                                  Y      1/1/2023
13                                                  Y      1/1/2023
14                                                  Y      1/1/2023
15                                                  Y      1/1/2023
16                                                NaN      1/1/2023
17                                                  Y      1/1/2023
18                                                  Y      1/1/2023
19                                                  Y      1/1/2023

      end_date
0   12/31/2023
1   12/31/2023
2   12/31/2023
3   12/31/2023
4   12/31/2023
5   12/31/2023
6   12/31/2023
7   12/31/2023
8   12/31/2023
9   12/31/2023
10  12/31/2023
11  12/31/2023
12  12/31/2023
13  12/31/2023
14  12/31/2023
15  12/31/2023
16  12/31/2023
17  12/31/2023
18  12/31/2023
19  12/31/2023
NaN values in each column:
facility_id                                                0
cehrt_id                                                 547
meets_criteria_for_promoting_interoperability_of_ehrs    727
start_date                                                 0
end_date                                                   0
dtype: int64

### Handling Missing Values
---
##### There are many blank values in the 'cehrt_id' and 'meets_interoperability_criteria' columns. The hospital general Information dataset indicated that several hospitals do not participate in the EHR Incentive Program. Since I am merging on Hospital General Information facility_id column, I will address these blank values after merging as it is likely that many were already removed.

#### Checking for Duplicates
---

In [ ]:
# print dataset for duplicate
print("Shape of the dataset:", df.shape)
# Check for duplicates in 'facility_id'
facility_duplicates = df['facility_id'].duplicated().sum()
print(f"Total duplicate facility_id: {facility_duplicates}")

Shape of the dataset: (4593, 5)
Total duplicate facility_id: 0

In [ ]:
# Set 'facility_id' as the index for the DataFrame
# This allows for faster lookups and operations based on 'facility_id'
df_indexed = df.set_index('facility_id')
print("Data indexed by 'facility_id':\n", df_indexed.head())

Data indexed by 'facility_id':
                     cehrt_id  \
facility_id
10001        0015CAN28DKT47C
10005        0015C0HAX4ESQ0D
10006        0015CW76TRC3SVN
10007        0015CFG3Q10HY2V
10008        0015CFG3Q10HY2V

            meets_criteria_for_promoting_interoperability_of_ehrs start_date  \
facility_id
10001                                                        Y      1/1/2023
10005                                                        Y      1/1/2023
10006                                                        Y      1/1/2023
10007                                                        Y      1/1/2023
10008                                                        Y      1/1/2023

               end_date
facility_id
10001        12/31/2023
10005        12/31/2023
10006        12/31/2023
10007        12/31/2023
10008        12/31/2023

In [ ]:
df

,facility_id,cehrt_id,meets_criteria_for_promoting_interoperability_of_ehrs,start_date,end_date
0,10001,0015CAN28DKT47C,Y,1/1/2023,12/31/2023
1,10005,0015C0HAX4ESQ0D,Y,1/1/2023,12/31/2023
2,10006,0015CW76TRC3SVN,Y,1/1/2023,12/31/2023
3,10007,0015CFG3Q10HY2V,Y,1/1/2023,12/31/2023
4,10008,0015CFG3Q10HY2V,Y,1/1/2023,12/31/2023
...,...,...,...,...,...
4588,670322,NaN,NaN,1/1/2023,12/31/2023
4589,670326,NaN,NaN,1/1/2023,12/31/2023
4590,670327,NaN,NaN,1/1/2023,12/31/2023
4591,671300,0015C2XBM59VCV5,NaN,1/1/2023,12/31/2023
4592,671301,0015CTY5P3PK4EQ,NaN,1/1/2023,12/31/2023

#### Converting to Sqlite Database & Creating Table
---

In [ ]:
# Connect to existing SQLite database
import sqlite3
conn = sqlite3.connect("../data/ehr_data.sqlite")

# Write the DataFrame `df` to a new table in the SQLite database and name it "interoperability_data"

df.to_sql(
    name="interoperability_data",  # table name
    con=conn,                  # connection to the SQLite database
    if_exists="replace",       # drop the table if it exists and create a new one
    index=False                # do not write DataFrame index as a column
)

# Close the connection
conn.close()

print("Data successfully written to SQLite database 'ehr_data.sqlite' in table 'interoperability_data'.")

Data successfully written to SQLite database 'ehr_data.sqlite' in table 'interoperability_data'.

#### Saving the cleaned dataset to CSV
---

In [ ]:
import os

# Create clean_data directory if it doesn't exist
clean_data_dir = '../data/clean_data'
os.makedirs(clean_data_dir, exist_ok=True)

# Save the cleaned DataFrame to a new CSV file
clean_csv_path = os.path.join(clean_data_dir, 'cleaned_hospital_interoperability.csv')
df.to_csv(clean_csv_path, index=False)

#